.form-inline .form-control{
	min-width: 50%;
}

/* Mercado Livre */

.mercado-livre-categorias {
	padding-left: 0;
	display: block;
}

.mercado-livre-categorias,
.mercado-livre-categorias ul {
	list-style-type: none;
}

.mercado-livre-categorias ul {
	padding-left: 18px;
}

.mercado-livre-categorias a {
	height: 20px;
	display: block;
}

.mercado-livre-categorias a span {
	font-size: 12px;
	float: left;
	line-height: 18px;
	margin-right: 6px;
}

.mercado-livre-categorias a span.glyphicon-plus-sign {
	color: #31708f;
}

.mercado-livre-categorias {
	padding-left: 5px;
}

.mercado-livre-categorias,
.mercado-livre-categorias ul {
	list-style-type: none;
}

.mercado-livre-categorias ul {
	padding-left: 18px;
}

.mercado-livre-categorias a {
	height: 20px;
	display: block;
}

.mercado-livre-categorias a img {
	margin-left: -2px;
}

.mercado-livre-categorias a span {
	font-size: 12px;
	float: left;
	line-height: 18px;
	margin-right: 6px;
}

.mercado-livre-categorias a span.glyphicon-plus-sign {
	color: #31708f;
}

.marketplace-mercado-livre .list-group .mercado-livre-categorias-list-group-item {
	overflow-y: scroll;
	max-height: 491px;
}

.marketplace-mercado-livre .alert {
	margin-bottom: 0;
}