<p><strong>Nova Senha - <?php echo Configure::read('Loja.nome') ?></strong></p>
<p>Sr(a). <?php echo $usuario['Usuario']['nome']; ?>,</p>
<p>Sua nova senha é: <?php echo $usuario['Usuario']['senha']; ?></p>