<p><strong>Nova Senha - <?php echo Configure::read('Loja.nome') ?></strong></p>
<p>Sr(a). <?php echo $cliente['Cliente']['nome']; ?>,</p>
<p>Sua nova senha é: <?php echo $cliente['Cliente']['senha']; ?></p>