.alert-error {
	display: block !important;
}

.cielo .bandeira .select {
	display: none;
}

label.error {
	float: right !important;
}

#cadastro-container h1 {
	margin: 0 15px;
	margin-top: 10px;
	vertical-align: middle;
	margin-bottom: 14px;
	font-size: 20px;
}

#cadastro-container h2 {
	font-size: 18px;
	color: #333;
	margin: 25px;
}

.televendas {
	float: right;
	padding: 5px 20px 5px 40px;
	margin-top: 8px;
	font-weight: bold;
}

.content {
	padding: 0 !important;
}

.alert-error {
	display: block !important;
}

.cielo .bandeira .select {
	display: none;
}

label.error {
	float: right !important;
}

/*
** Tabela meu pedido
*/

.display-table {margin: 10px auto; width: 755px;}

table {margin-bottom: 10px; border: 1px solid #ccc; width: 100%}
table th, table td {padding: 8px; border-top: 1px solid #dddddd; vertical-align: top; text-align: left;}

/*
** Bandeiras
*/

#CieloPagamentoForm {
	width: 755px;
	margin: 0 auto;
}

.bandeira {
	float: left;
	margin: 15px;
	padding-left: 15px;
	position: relative;
}

.bandeira input[type="radio"] {
	position: absolute;
	top: 5px;
	left: 0;
}

.clear-both {
	clear: both;
	margin-bottom: 30px;
}

/*
** Form
*/

.input {
	margin-bottom: 10px;
	clear: both;
}

.input label {
	width: 150px;
	text-align: right;
	margin-right: 10px;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 13px;
	color: #333;
}

.input input[type="text"] {
	padding: 4px;
	width: 228px;
}

select {
	padding: 4px;
	width: 241px;
}

.submit input[type="submit"] {
	display: block;
	padding: 6px 15px;
	background: #8DA129;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	margin-left: 158px;
}

/* Alerta
**
*/

.alert-danger {
	display: block !important;
	color: #CD0000;
	background: #eed3d7;
	border: 1px solid #CD0000;
	padding: 4px;
}

.alert-danger .close {
	display: none;
}