<!-- Script e Css: Esses scripts serão renderizados no head da página onde se encontram as tags fetch -->
<tipoo:css src="Views/Catalogo/index.css" />
<tipoo:script src="Views/Catalogo/index.js" />
<!-- .end Script e Css -->

<!-- Tag de Banner. Obs: A chave do banner é criado via admin -->
<tipoo:banner chave="Lateral" tipo="slide" />
<!-- .end Tag de Banner -->

<!-- Tag Vitrine de Produtos da Coleção. Obs: A chave da coleção é criado direto aqui no código -->
<tipoo:vitrineProdutosColecao chave="Coleção Home" produtosPorLinha="3" quantidadeMininaParcelas="3">
	<div class="produto-busca">
		<input class="produto-busca-id" type="hidden" value="#{produto_id}">
		<div class="produto-busca-img">
			#{img}
		</div>
		<div class="produto-zoom"></div>
		<div class="imagens_relacionadas">
			#{galeria_img}
		</div>
		<div class="produto-busca-descricao">#{link_produto}</div>

		<input class="produto-sku-id" type="hidden" value="#{sku_destaque_id}">
		<div class="produto-busca-sku"><a href="#{url_produto}">#{nome_sku_destaque}</a></div>

		<div class="produto-busca-detalhes">#{descricao_resumida}</div>
		<div class="produto-busca-marca">#{marca}</div>

		#{if:estoque}

			#{if:preco_de}
				<div class="produto-busca-preco-de">De: <span>R$#{preco_de}</span></div>
			#{end:preco_de}

			<div class="produto-busca-preco-por"><span  class="preco-por">Por: </span><span>R$#{preco_por}</span></div>

			#{if:economize}
				<div class="produto-busca-economize">Economize: <span>R$#{economize}</span></div>
			#{end:economize}

			#{if:parcelamento}
				<div class="produto-busca-parcelamento">
					ou em até <span class="produto-busca-parcelamento-parcelas">#{parcelas}X</span> de <span class="produto-busca-parcelamento-valor-parcelas">R$#{valorParcelas}</span>
				</div>
			#{end:parcelamento}

			#{if:modelos}
					<div class="produto-modelos">#{modelos}</div>
			#{end:modelos}

		#{end:estoque}
		#{if:not:estoque}

			<strong>Produto Esgotado</strong>

		#{end:not:estoque}

		#{selos}
		#{tags}
		<div class="produto-busca-mais-detalhes"><a href="#{url_produto}">Mais Detalhes</a></div>
		<div class="produto-carrinho"></div>
	</div>
</tipoo:vitrineProdutosColecao>
<!-- .end Tag Vitrine de Produtos da Coleção -->

<!-- Tag Menu de Marcas -->
<tipoo:menuMarcas />
<!-- .end Tag Menu de Marcas -->

<!-- Tag Newsletter -->
<tipoo:newsletter titulo="Receba ofertas exclusivas" placeHolderNome="Informe seu nome" placeHolderEmail="Informe seu e-mail" />
<!-- .end Tag Newsletter -->