.input-group-btn {
	position: relative !important;
}

.date .help-inline{
	position: absolute !important;
	top: 33px !important;
	left: 0px !important;
}

.input-group .form-control:not(:first-child):not(:last-child) {
	/*border-radius: 4px;*/
}