.navbar-brand {
	padding: 10px 10px 10px 0px;
	margin-left: 15px !important;
}

.navbar .nav>li>a {
	padding: 18px 15px 18px;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td, .table>thead>tr>th {
	border-bottom-color: #65B22E;
	border-bottom-color: #e30613;
}

.navbar-collapse {
	max-height: 1000px;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: .65;
}

.clear {
	clear: both;
}

@media (max-width: 767px) {
	.table-responsive {
		overflow-y: scroll;
	}

}

@media (min-width: 768px) {
	.navbar-header {
		float: none;
	}

	.navbar-right {
		float: none !important;
	}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
}

@media (min-width: 992px) {
	.navbar-header {
		float: left;
	}

	.navbar-right {
		float: right !important;
	}

	.navbar-nav .open .dropdown-menu {
		position: absolute;
		min-width: 160px;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		background-clip: padding-box;
	}
}

/* Paginação */

.pagination li.current {
	float: left;
	padding: 6px 12px;
	line-height: 20px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
	background-color: #f5f5f5;
	color: #999999;
	cursor: default;
}

/* Ordenação */

#sortable tr {
	cursor: move;
}

/* Relatório */

.relatorio .well {
	min-height: 247px
}

/* Validação */

.has-error .help-inline {
	display: block;
	font-size: 0.8em;
	margin-top: 4px;
}

.login-layout .error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.login-layout .help-inline {
	display: none !important;
}

/* Pedidos */

.table-pedidos .label {
	min-width: 136px;
	display: inline-block;
	text-align: left;
}

.table-pedidos .form-control {
	max-width: 170px;
	margin-bottom: 5px;
}

.table>thead>tr>.success, .table>tbody>tr>.success, .table>tfoot>tr>.success, .table>thead>.success>td, .table>tbody>.success>td, .table>tfoot>.success>td, .table>thead>.success>th, .table>tbody>.success>th, .table>tfoot>.success>th {
	background-color: #dff0d8 !important;
}

.sem-cadastro {
	font-weight: normal;
	line-height: 1;
	color: #999;
}

.form-titulos-admin {
	color: #999;
	font-weight: bold;
	font-size: initial;
}

.form-group .checkbox label {
	font-weight: bold;
}

/* Help-inline */

.help-form-group .form-group {
	margin-bottom: 0px;
}

.row.help {
	margin-bottom: 15px;
}

.row.help .help-inline {
	font-size: 0.85em;
}

.seta-ordenacao {
	cursor: pointer;
}

#num_de_caracteres {
	font-size: 12px;
}

tr:first-child .ordenacao-sobe,
tr:last-child .ordenacao-desce {
	display: none;
}

.preco-sem-desconto {
	text-decoration: line-through;
}

.lembrete-typeahead {
	font-size: 70%;
	color: #31708f;
}