#NewsletterIndexForm {
	display: block;
	padding: 30px;
	width: 250px;
}

#NewsletterIndexForm label {
	width: 50px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: 26px;
}

#NewsletterIndexForm strong {
	padding: 10px;
	display: block;
}

#NewsletterIndexForm .input {
	margin-bottom: 10px;
}

#NewsletterIndexForm .submit {
	position: relative;
	height: 30px;
}

#NewsletterIndexForm input[type="text"], #NewsletterIndexForm input[type="email"] {
	padding: 5px;
}

#NewsletterIndexForm input[type="submit"] {
	position: absolute;
	right: 25px;
	bottom: 2px;
	padding: 5px 8px;
	background-color: rgb(232, 238, 220);
	border: none;
}