.voltar-pedidos {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -34px;
	margin-left: -110px;
}

#pedidos-imprimir {
	display: none
}

@media print {
	#pedidos-imprimir {display: block;}
	.navbar, #btn-imprimir {display: none}
	.container-admin {margin-top: 0}
}