#dp1-mask, #dp2-mask {
	cursor: pointer;
}

h4 {
	margin-top: 5px;
	margin-bottom: 20px;
}

.lead {
	margin-top: 0px;
}

.modal-dialog .well {
	min-height: 270px;
}

iframe {
	background: url('../../../img/admin-ajax-loader.gif') no-repeat center;
	border: none;
}

/* Marketplaces - Mercado Livre */

.meli-feedback .btn-cancelar,
.meli-feedback .btn-cancelar-replica {
	float: left;
	line-height: 35px;
	margin-right: 10px;
}