#num_de_caracteres {
	margin-top: 8px;
}

.wysihtml5-toolbar .btn {
	padding: 4px 9px;
}
.tags-body{
	overflow-y: scroll;
	max-height: 234px;

}

.listar-tags li,
.listar-servicos li {
	list-style-type:none;
}

.panel-heading label {
	margin-top: 5px;
}