.btn-integrar-mercado-livre,
.btn-login-mercado-livre {
	background: #fff059 !important;
	border-color: #2d3277 !important;
	border-width: 2px;
	line-height: 38px;
	color: #2d3277 !important;
	font-weight: bold;
	padding: 10px 31px 10px 25px;
}

.btn-integrar-mercado-livre span,
.btn-login-mercado-livre span {
	background: #fff059 url('../../../../img/marketplace-mercadolivre-logo.png') no-repeat left !important;
	display: inline-block;
	width: 60px;
	height: 42px;
	margin: 0px;
	float: left;
	margin-right: 8px;
}