body {
	background: #fff;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-danger {
	background: #e30613 !important;
	outline: none !important;
}