<p><strong>Contato Através do e-commerce</strong></p>
<p>Nome: <?php echo $nome ?></p>
<p>Sobrenome: <?php echo $sobrenome ?></p>
<p>Telefone: <?php echo $telefone ?></p>
<p>E-mail: <?php echo $email ?></p>
<p>Assunto: <?php echo $assunto ?></p>
<p>Mensagem:<br><br> <?php echo nl2br($mensagem); ?></p>