ul.banner,
div#banner-scroll,
div#banner-scroll .banner-container,
div#banner-scroll ul,
div#banner-scroll ul li,
div#banner-scroll .banner-content {margin: 0; padding: 0;}
div#banner-scroll a {text-decoration: none;}

ul.banner li, div#banner-scroll ul li {list-style-type: none; height: 100%;}
ul.banner img {border: none; max-width: 200px;}

div#banner-scroll {position: relative; background: #000; height: 300px;}

div#banner-scroll .banner-container {width: 100%; overflow: hidden;}
div#banner-scroll .banner-content img {max-height: 300px;}
div#banner-scroll .banner {max-height:373px; float: left; cursor: pointer;}

div#banner-scroll .banner-nav {position: absolute; left: 0;	bottom: 0; z-index: 2; width: 100%;}
div#banner-scroll ul {margin: 50px;}
div#banner-scroll .banner-nav .abas {display: block; padding: 3px 5px; float: left; color: #fff;}
div#banner-scroll .banner-nav .aba-banner-atual{background: #000;}