body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

p, li {
	font-size: 14px;
}

h1, h2, h3, h4 {
	margin: 0;
}

#carrinho-container h1 {
	background: #E8EEDC;
	padding: 8px;
	margin: 0 15px;
	margin-top: 10px;
	font-size: 14px;
}

#carrinho-container h2 {
	padding: 8px;
	margin: 0 15px;
	margin-top: 10px;
	font-size: 14px;
}

#carrinho-container {
	width: 960px;
	margin: 0 auto;
	display: table;
}

#carrinho-container {
	margin-top: 50px;
}

#carrinho-container h1 {
	margin-bottom: 10px;
	padding: 8px;
	font-size: 16px;
}

.carrinho-content {
	margin: 15px;
}

.carrinho-skus {
	width: 100%;
	border-spacing: 0;
}

.carrinho-skus input[type="text"] {
	width: 40px;
}

.servico-texto input[type="text"] {
	width: 150px;

}

.servico-texto textarea {
	width: 150px;
	height: 30px;
}

.servico-texto {
	display: flex;
}

.carrinho-skus th {
	padding: 10px;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
}

.carrinho-skus td {
	padding: 10px 5px;
	border-top: 1px solid #ccc;
	vertical-align: top;
	font-size: 14px;
	text-align: center;
}

.servicos-skus td {
	border-top: none !important;
	text-align: left;
	padding: 0px 05px 10px;
}

.carrinho-skus .cupom-desconto .col-form-cupom {
	text-align: left;
}

.col-produtos {
	text-align: left !important;
}

.carrinho-skus td span {
	vertical-align: middle;
}

.carrinho-skus td img {
	vertical-align: middle;
	margin-right: 10px;
}

.carrinho-skus td:first-child {
	width: auto;
}

.col-label-total {
	text-align: left !important;
	font-size: 20px !important;
	font-weight: bold;
}

.botoes {
	padding: 20px;
	text-align: right;
}

.botoes.bottom {
	background: rgb(248, 248, 248);
	border-bottom: 4px solid rgb(202, 216, 174);
}

.botoes a {
	width: 150px;
	padding: 10px 8px;
	background-color: rgb(202, 216, 174);
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: #333;
}

.botoes .continuar-comprando {
	background: #E8EEDC;
}

.total {
	background: rgb(248, 248, 248);
}

/* Frete */

.frete {
	background: #F8F8FF;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 20px;
}

.transportadoras {
	padding: 0px;
	list-style-type: none;
}

.transportadoras li {
	background: #fff;
	padding: 10px;
	margin: 10px;
	float: left;
}

.msg-prazo-entrega {
	clear: both;
	padding-top: 10px;
}

/* Promo√ß√µes */

.col-img {
	text-align: left !important;
}

.col-produtos small {
	display: block;
	margin-top: 3px;
}

.col-val-unit .desconto {
	display: block;
    text-decoration: line-through;
}

.col-val-desconto-pedido {
	    text-decoration: line-through;
}

/*.carrinho-skustd {
    vertical-align: top;
}*/