body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	font-size: 13px;
}

.clear {
	clear: both;
}

a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: rgb(73, 95, 28);
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

.topo {
	height: 116px;
	background-color: rgb(232, 238, 220);
}

.topo-container {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}

.topo-container .logo {
	position: absolute;
	top: 15px;
	left: 0;
	width: 99px;
	height: 41px;
	text-indent: -9999px;
	direction: ltr;
	background-image: url('../img/tipoo-commerce.png');
}

.topo-container .bem-vindo {
	position: absolute;
	left: 130px;
	top: 8px;
	font-size: 11px;
}

.topo-container .bem-vindo p {
	margin: 0;
}

.topo-container .busca {
	position: absolute;
	left: 130px;
	top: 30px;
	height: 28px;
	background-color: rgb(202, 216, 174);
	padding: 8px;
	width: 684px;

}

.topo-container .busca .input,
.topo-container .busca .submit {
	display: inline;
}

.topo-container .busca .input input{
	width: 560px;
	margin-right: 5px;
	height: 24px
}

.topo-container .busca .submit input{
	height: 28px
}

.topo-container .meu-carrinho {
	position: absolute;
	top: 30px;
	right: 0;
	height: 28px;
	width: 105px;
	background: rgb(202, 216, 174);
	padding: 8px;
	text-align: center;
	font-size: 11px;
	line-height: 1.4em;
}

.topo-container .meu-carrinho img {
	width: 26px;
	height: 23px;
	margin-right: 5px;
	float: left;
}

.topo-menu {
	width: 960px;
	height: 35px;
	margin: 0 auto;
	position: relative;
	background: rgb(202, 216, 174);
}

.container {
	width: 960px;
	margin: 0 auto;
	/*display: table;*/
}

.rodape {
	background: rgb(176, 194, 141);
	height: 200px;
	margin-top: 20px;
}

.rodape-container {
	width: 960px;
	margin: 0 auto;
	display: table;
	position: relative;
}

div .produtos-buscas-titulo {
	width: 100%;
	display: table;
	background: rgb(243, 245, 239);
	margin-bottom: 20px;
}

div .produtos-buscas-titulo .produtos-buscas-qtd {
	float: left;
	margin: 8px;
}

div .produtos-buscas-titulo span {
	float: right;
	margin: 8px;
	margin-right: -40px;
}

div .produtos-buscas-titulo .produtos-buscas-ordenacao {
	float: right;
	list-style: none;
	margin: 8px;
	font-size: 11px;
}

div .produtos-buscas-titulo .produtos-buscas-ordenacao li {
	display: inline-block;
	margin-left: 10px;
}

div .produto-busca {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
}

div .produto-busca a {
	color: rgb(73, 95, 28);
	text-decoration: none;
	font-weight: bold;
}

div .produto-busca a:visited {
	color: rgb(73, 95, 28);
	text-decoration: none;
	font-weight: bold;
}

div .produto-busca a:hover {
	color: rgb(73, 95, 28);
	text-decoration: underline;
	font-weight: bold;
}

div .produto-busca a:active {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

div .produto-busca .produto-busca-descricao {
	font-size: 14px;
}

div .produto-busca .produto-busca-marca {
	font-size: 11px;
	color: rgb(176, 194, 141);
}

div .produto-busca  .produto-busca-preco-de {
	margin-top: 5px;
	font-size: 11px;
}

div .produto-busca  .produto-busca-preco-de span {
	text-decoration: line-through;
}

div .produto-busca  .produto-busca-preco-de span:before,
div .produto-busca  .produto-busca-preco-por span:before,
div .produto-busca  .produto-busca-economize span:before {
	content: "R$ ";
}

div .produto-busca  .produto-busca-preco-por {
	margin-top: 2px;
	margin-bottom: 2px;
}

div .produto-busca  .produto-busca-preco-por span {
	font-size: 22px;
	font-weight: bold;
	color: rgb(73, 95, 28);
}

div .produto-busca .produto-busca-mais-detalhes {
	margin-top: 10px;
}

div .produto-busca .produto-busca-mais-detalhes a,
div .produto-busca .produto-busca-mais-detalhes a:visited,
div .produto-busca .produto-busca-mais-detalhes a:hover,
div .produto-busca .produto-busca-mais-detalhes a:active {
	font-size: 11px;
}

/*
** Newsletter
*/

#NewsletterIndexForm {
	width: 735px !important;
	margin-bottom: 30px !important;
}

#NewsletterIndexForm .text, #NewsletterIndexForm .email, #NewsletterIndexForm strong {
	float: left;
}

#NewsletterIndexForm strong {
	line-height: 7px;
}
#NewsletterIndexForm .submit {
	width: 100px;
	float: left;
}
