.sf-menu li {
	border: none;
	background: rgb(202, 216, 174);
	border-left: 2px solid rgb(232, 238, 220);
}

.nivel-0 > li:first-child {
	border: none;
}

.nivel-0:last-child {
	border-right: 2px solid rgb(232, 238, 220);
}

.sf-menu a {
	border: none;
	color: #000;
}

.sf-menu ul li {
	background: rgb(202, 216, 174);
}

.sf-menu ul ul li {
	background: rgb(202, 216, 174);
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: rgb(176, 194, 141);
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}