.arvore {
	overflow: scroll;
}

.arvore ul {
	display:none;
	list-style: none;
	padding-left: 20px;
}

.arvore li {
	line-height: 1.7em;
}

.acoes .local-atual {
	color: #08c;
}

.collapse-ctrl {
	display: none;
}

.arvore-selecionado {
	background-color: #CEEBFA;
	padding: 3px;
}

.visualizador-imagem img {
	max-width: 400px;
	max-height: 400px;
}

.acoes {
	position: relative;
}

.acoes .absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.acoes .fixed {
	position: fixed;
}

.panel-group {
	margin-bottom: 20px;
}