.produto {
	display: table;
	width: 960px;
}

h3 {
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
	padding: 8px 0;
	font-size: 16px;
}

.produto .imagens {
	float: left;
	width: 430px;
	margin: 0;
}


.produto .infos {
	float: right;
	width: 450px;
	margin: 0;	
}

.produto .infos h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: bold;
	color: rgb(73, 95, 28);
}

.produto .infos .marca {
	font-size: 16px;
	color: rgb(176, 194, 141);
}

.produto .infos .precos {
	display: table;
	margin-top: 30px;
	width: 100%;
}

.produto .infos .valores {
	float: left;
	display: table;
	width: 320px;
}

.produto .infos .comprar {
	float: right;
	display: table;
	width: 160px;
	height: 40px;
	background-color: rgb(255, 133, 0);
	text-align: center;
	vertical-align: middle;
	padding-top: 14px;
	margin-top: 12px;
	
	-webkit-border-radius: 5px;
    border-radius: 5px;

	background: #ff893a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff893a 0%, #ff6a00 44%, #e26d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff893a), color-stop(44%,#ff6a00), color-stop(100%,#e26d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff893a 0%,#ff6a00 44%,#e26d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff893a 0%,#ff6a00 44%,#e26d00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff893a 0%,#ff6a00 44%,#e26d00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff893a 0%,#ff6a00 44%,#e26d00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff893a', endColorstr='#e26d00',GradientType=0 ); /* IE6-9 */

}

.produto .infos .comprar a,
.produto .infos .comprar a:visited,
.produto .infos .comprar a:hover,
.produto .infos .comprar a:active {
	font-size: 22px;
	color: #FFF;
	text-decoration: none;
}

.produto .infos .skus {
	margin-top: 20px;
	border-top: 1px dotted #ccc;
}

.produto .infos .skus .skus-selecao {
	width: 100%;
	list-style: none;
	display: table;
	margin: 0;
	padding: 0;
}

.produto .infos .skus .skus-selecao li {
	display: inline-block;
	width: 50%;
	margin-bottom: 15px;
	vertical-align: bottom;
}

.produto .infos .skus .skus-selecao li input{
	float: left;
	margin-top: 18px;
}

.produto .infos .skus .skus-selecao li img{
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	width: 50px;
	height: 50px;
}

.produto .infos .skus .skus-selecao li span{
	float: left;
	font-size: 12px;
	margin-top: 18px;
}


.produto .infos .preco-de {
	margin-top: 5px;
}

.produto .infos .preco-de span {
	text-decoration: line-through;
}

/*.produto .infos .preco-de span:before,
.produto .infos .preco-por span:before,
.produto .infos .economize span:before {
	content: "R$ ";
}*/

.produto .infos .preco-por {
	margin-top: 2px;
	margin-bottom: 2px;
}

.produto .infos .preco-por span {
	font-size: 26px;
	font-weight: bold;
	color: rgb(73, 95, 28);
}


.produto .detalhes {
	clear: both;
	margin-top: 25px;
}

/* btn comprar */

.t-produtos-compre-junto {
	clear: both;
}

.t-produtos-compre-junto li {
	float: left;
}

/** Skus **/

.t-quantidade label,
.t-skus h3,
.t-skus-caracteristicas-selecao li input{
	display: none !important;
}

.skus .box {
	/* float: left; */
	margin-bottom: 12px;
	margin-right: 20px;
}

.t-skus-caracteristicas-selecao {
	list-style-type: none;
	padding: 0px
;
	margin: 0;
}

.t-skus-caracteristicas-selecao li {
	display: inline-block;
	border: 1px solid #000;
	margin-right: 5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

.t-skus-caracteristicas-selecao li.sku-indisponivel {
	border: 1px solid #aaa;
}

.t-skus-caracteristicas-selecao li.sku-indisponivel label {
	color: #aaa !important;
}

.t-skus-caracteristicas-selecao li.sku-indisponivel.active {
	background: #eee;
}

.t-skus-caracteristicas-selecao li.active {
	background: #cbddcd;
	background: #000;
}

.t-skus-caracteristicas-selecao li.active label {
	color: #fff;
}

.t-skus-caracteristicas-selecao li label {
	color: #000;
	cursor: pointer;
	width: 25px;
	height: 25px;
	display: block;
	font-size: 10px;
	line-height: 12px;
}
