.media-avaliacao{
	background-image: url('../../img/star-sprite.png');
	background-repeat:no-repeat;
	display:block;
	text-indent:-999em;
	height: 20px;
	width: 100px;
}

.media-0 {background-position:0 0px;}
.media-10 {background-position:0 -20px;}
.media-20 {background-position:0 -40px;}
.media-30 {background-position:0 -60px;}
.media-40 {background-position:0 -80px;}
.media-50 {background-position:0 -100px;}

