<?php $this->Html->css(array('Views/Catalogo/index', 'newsletter', 'banner'), 'stylesheet', array('inline' => false)); ?>

<tipoo:banner chave="Lateral" tipo="slide" />

<tipoo:newsletter titulo="Receba ofertas exclusivas" placeHolderNome="Informe seu nome" placeHolderEmail="Informe seu e-mail" />
<tipoo:newsletter titulo="Receba ofertas exclusivas" placeHolderNome="Informe seu nome" placeHolderEmail="Informe seu e-mail" />

<div class="produtos">

	<!-- Vitrine Principal -->
	<tipoo:vitrineProdutosColecao chave="colecao_home_principal" produtosPorLinha="3" quantidadeMininaParcelas="3" tamanhoImagem="normal" separador="false" tagsUrl="false" wrap="ul" classWrap="item">
		<li class="produto-busca">
			<input class="produto-busca-id" type="hidden" value="#{produto_id}">
			<div class="produto-busca-img">
				#{img}
			</div>
			<div class="produto-zoom"></div>
			<div class="imagens_relacionadas">
				#{galeria_img}
			</div>
			<div class="produto-busca-descricao">#{link_produto}</div>

			<input class="produto-sku-id" type="hidden" value="#{sku_destaque_id}">
			<div class="produto-busca-sku"><a href="#{url_produto}">#{nome_sku_destaque}</a></div>

			<div class="produto-busca-detalhes">#{descricao_resumida}</div>
			<div class="produto-busca-marca">#{marca}</div>

			#{caracteristicas}

			#{if:preco_de}
				<div class="produto-busca-preco-de">De: <span>R$#{preco_de}</span></div>
			#{end:preco_de}

			<div class="produto-busca-preco-por"><span  class="preco-por">Por: </span><span>R$#{preco_por}</span></div>

			#{if:economize}
				<div class="produto-busca-economize">Economize: <span>R$#{economize}</span></div>
			#{end:economize}

			#{if:parcelamento}
				<div class="produto-busca-parcelamento">
					ou em até <span class="produto-busca-parcelamento-parcelas">#{parcelas}X</span> de <span class="produto-busca-parcelamento-valor-parcelas">R$#{valorParcelas}</span>
				</div>
			#{end:parcelamento}

			#{if:modelos}
				#{modelos}
			#{end:modelos}

			#{selos}
			#{tags}
			<div class="produto-busca-mais-detalhes"><a href="#{url_produto}">Mais Detalhes</a></div>

			#{caracteristicas}
			<div class="produto-carrinho"></div>
		</li>
	</tipoo:vitrineProdutosColecao>
	<!-- /Vitrine Principal -->

	<div style="margin-left: 10px; margin-bottom:20px;">
		<?php //echo $this->Controles->getBanners('home_vitrine'); ?>
	</div>
</div>

<div class="banners">
	<?php //echo $this->Controles->getBanners('home_lateral_direita', array('lista' => true)); ?>
</div>

<div class="clear"></div>

<tipoo:menuMarcas />

<tipoo:html>Teste <?php echo ' teste2' ?><span style="color: red"> teste 3</span></tipoo:html>

<tipoo:html tag="img" src="cart.png" width="300" height="300" title="Funciona mesmo"/>
<tipoo:html tag="a" href="/medalhas">Medalhas</tipoo:html>


<!-- Tag Vitrine de Produtos da Coleção -->
<tipoo:vitrineProdutosColecao chave="Coleção Excluir" produtosPorLinha="3" quantidadeMininaParcelas="3">
	<div class="produto-busca">
		<input class="produto-busca-id" type="hidden" value="#{produto_id}">
		<div class="produto-busca-img">
			#{img}
		</div>
		<div class="produto-zoom"></div>
		<div class="imagens_relacionadas">
			#{galeria_img}
		</div>
		<div class="produto-busca-descricao">#{link_produto}</div>

		<input class="produto-sku-id" type="hidden" value="#{sku_destaque_id}">
		<div class="produto-busca-sku"><a href="#{url_produto}">#{nome_sku_destaque}</a></div>

		<div class="produto-busca-detalhes">#{descricao_resumida}</div>
		<div class="produto-busca-marca">#{marca}</div>
		#{if:preco_de}
			<div class="produto-busca-preco-de">De: <span>R$#{preco_de}</span></div>
		#{end:preco_de}

		<div class="produto-busca-preco-por"><span  class="preco-por">Por: </span><span>R$#{preco_por}</span></div>

		#{if:economize}
			<div class="produto-busca-economize">Economize: <span>R$#{economize}</span></div>
		#{end:economize}

		#{if:parcelamento}
			<div class="produto-busca-parcelamento">
				ou em até <span class="produto-busca-parcelamento-parcelas">#{parcelas}X</span> de <span class="produto-busca-parcelamento-valor-parcelas">R$#{valorParcelas}</span>
			</div>
		#{end:parcelamento}

		#{if:modelos}
			#{modelos}
		#{end:modelos}

		#{selos}
		#{tags}
		<div class="produto-busca-mais-detalhes"><a href="#{url_produto}">Mais Detalhes</a></div>
		<div class="produto-carrinho"></div>
	</div>
</tipoo:vitrineProdutosColecao>
<!-- .end Tag Vitrine de Produtos da Coleção -->